    <style>
        body{
            background-color: #f0f2f5;
        }
        .layuiadmin-big-font{
            font-size: 40px;
            display: block;
            margin: 20px 0;
        }
        .learn-progress{
            margin: 15px 20px;
        }
        .count-box{
            text-align: center;
        }
        .mid-count-box{
            border-left: 1px solid #f0f2f5;
            border-right: 1px solid #f0f2f5;
        }
        .count{
            margin-top: 20px;
        }
        .layui-res{
            padding: 10px 0;
            border-bottom: 1px dashed #f6f6f6;
        }
        .self-mes-img-box{
            text-align: center;
        }
        .self-mes-img-box img{
            width: 50%;
        }
        .self-mes p{
            margin: 8px 0;
        }
        .state-box{
            margin-top: 15px;
            margin-bottom: 15px;
        }
        .state-title-box{
            text-align: center;
            margin-top: 10px;
        }
        .state-mes-box{
            border-left: 3px solid #5FB878;
            padding-left: 20px;
        }
        .learn-attitude-count{
            margin-top: 30px;
            margin-bottom: 30px;
        }
        .graph-box{
            text-align: center;
        }
        .small-graph{
            width: 513px;
            height: 300px;
            margin: auto;
        }
        .mini-graph{
            width: 340px;
            height: 300px;
            margin: auto;
        }
        .big-graph{
            width: 1080px;
            height: 500px;
            margin: auto;
        }
        .table-mes-align{
            text-align: left;
        }
        .tiny-card-height {
            height: 107px;
        }
    </style>
<div class="layui-container">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">
                    基本信息
                </div>
                <div class="layui-card-body">
                    <div class="layui-row" style="margin-top: 10px; margin-bottom: 10px;" id="message-box">
                        <script type="text/html" id="message">
                            <div class="layui-col-sm2 self-mes-img-box">
                                <img src="../../assets/images/head.png" class="layui-card-img" />
                            </div>
                            <div class="layui-col-md8 self-mes">
                                <p style="font-size: 20px;"><b>昵称：{{ d.nickname }}</b></p>
                                <div class="layui-row">
                                    <div class="layui-col-sm5">
                                        <p>真实姓名：{{ d.studentName }}</p>
                                        <p>性别：{{ d.gender }}</p>
                                        <p>生日：{{ d.birthday }}</p>
                                    </div>
                                    <div class="layui-col-sm7">
                                        <p>最高学历：{{ d.education }}</p>
                                        <p>所在地：{{ d.country }} {{ d.province }}省 {{ d.city }}市</p>
                                    </div>
                                </div>
                            </div>
                        </script>
                    </div>
                </div>

                <div class="layui-tab layui-tab-brief" style="border-top: 1px solid #f0f2f5;" lay-filter="docDemoTabBrief">
                    <ul class="layui-tab-title">
                        <li class="layui-this">学习历史</li>
                        <li>个性化分析</li>
                        <li>兴趣意图</li>
                        <li>知识背景</li>
                    </ul>
                    <div class="layui-tab-content" style="background-color: #f0f2f5; padding: 10px 0;">
                        <div class="layui-tab-item layui-show">
                            <div class="layui-row layui-col-space15">
                                <div class="layui-col-sm6 layui-col-md3">
                                    <div class="layui-card">
                                        <div class="layui-card-header">
                                            选课数量
                                            <span class="layui-badge layui-bg-orange layuiadmin-badge pull-right">门</span>
                                        </div>
                                        <div class="layui-card-body layuiadmin-card-list">
                                            <div id="course-count-box">
                                                <script type="text/html" id="course-count">
                                                    <p class="layuiadmin-big-font">{{ d }}</p>
                                                </script>
                                            </div>
                                            <p>
                                                已选课程的数量
                                                <span class="layuiadmin-span-color pull-right"> <i class="layui-icon layui-icon-read"></i></span>
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="layui-col-sm6 layui-col-md3">
                                    <div class="layui-card">
                                        <div class="layui-card-header">
                                            课程平均成绩
                                            <span class="layui-badge layui-bg-blue layuiadmin-badge pull-right">分</span>
                                        </div>
                                        <div class="layui-card-body layuiadmin-card-list">
                                            <div id="score-box">
                                                <script type="text/html" id="score">
                                                    <p class="layuiadmin-big-font">{{ d }}</p>
                                                </script>
                                            </div>
                                            <p>
                                                平均每门已选课程的期末得分
                                                <span class="layuiadmin-span-color pull-right"> <i class="layui-icon layui-icon-form"></i></span>
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="layui-col-sm6 layui-col-md3">
                                    <div class="layui-card">
                                        <div class="layui-card-header">
                                            视频观看率
                                            <span class="layui-badge layui-bg-green layuiadmin-badge pull-right">%</span>
                                        </div>
                                        <div class="layui-card-body layuiadmin-card-list">
                                            <div id="video-watch-box">
                                                <script type="text/html" id="video-watch">
                                                    <p class="layuiadmin-big-font">{{ d }}%</p>
                                                </script>
                                            </div>
                                            <p>
                                                所有课程的视频观看情况
                                                <span class="layuiadmin-span-color pull-right"> <i class="layui-icon layui-icon-video"></i></span>
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="layui-col-sm6 layui-col-md3">
                                    <div class="layui-card">
                                        <div class="layui-card-header">
                                            课程通过率
                                            <span class="layui-badge layui-bg-red layuiadmin-badge pull-right">%</span>
                                        </div>
                                        <div class="layui-card-body layuiadmin-card-list">
                                            <div id="pass-ratio-box">
                                                <script type="text/html" id="pass-ratio">
                                                    <p class="layuiadmin-big-font">{{ d }}%</p>
                                                </script>
                                            </div>
                                            <p>
                                                获得Pass的课程所占比例
                                                <span class="layuiadmin-span-color pull-right"> <i class="layui-icon layui-icon-ok-circle"></i></span>
                                            </p>
                                        </div>
                                    </div>
                                </div>


                                <div class="layui-col-md8">
                                    <div class="layui-card" style="padding-bottom: 30px;">
                                        <div class="layui-card-header">
                                            学习历史记录
                                        </div>
                                        <div class="layui-card-body" style="padding: 30px 50px; height: 400px; overflow-y: scroll;">
                                            <ul class="layui-timeline" id="time-line-box">

                                                <script type="text/html" id="time-line">
                                                    {{# layui.each(d, function(index, item){ }}
                                                    <li class="layui-timeline-item">
                                                        <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                                                        <div class="layui-timeline-content layui-text">
                                                            <h3 class="layui-timeline-title">{{ item.time }}</h3>
                                                            <p>
                                                                观看课程 <span style="color: #009688;">{{ item.courseName }}</span> 的视频 <span style="color: #009688;">{{ item.videoName }}</span>, 学习 <span style="color: #009688;">{{ item.length }} min</span>
                                                                <br>播放速度：{{ item.speed }}x &nbsp;&nbsp;&nbsp;学习平台：{{ item.system }}
                                                            </p>
                                                        </div>
                                                    </li>
                                                    {{# }); }}
                                                </script>

                                            </ul>
                                        </div>
                                    </div>
                                </div>


                                <div class="layui-col-md4">
                                    <div class="layui-card" style="padding-bottom: 30px;">
                                        <div class="layui-card-header">
                                            课程学习情况
                                        </div>
                                        <div class="layui-card-body" style="padding: 10px 30px; height: 440px; overflow-y: scroll;" id="choose-course-box">
                                            <script type="text/html" id="choose-course">
                                                {{# layui.each(d, function(index, item){ }}
                                                <div class="layui-res reco-res-box">
                                                    <h3><b>{{ item.courseName }}</b></h3>
                                                    <p class="layui-word-aux">视频观看率：{{ item.videoWatchRatio }} &nbsp;&nbsp;&nbsp;最终成绩：{{ item.score }}</p>
                                                    <p class="layui-word-aux">课程评价：{{ item.scoreLevel }} &nbsp;&nbsp;&nbsp;<span style="color: #5FB878;">{{ item.getCertificate }}</span></p>
                                                </div>
                                                {{# }); }}
                                            </script>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="layui-tab-item">
                            <div class="layui-row layui-col-space15">
                                <div class="layui-col-md12">
                                    <div class="layui-card">
                                        <div class="layui-card-body">
                                            <div class="layui-row state-box">
                                                <div class="layui-col-sm2 state-title-box">
                                                    <p style="font-size: 17px;"><b>学习能力</b></p>
                                                </div>
                                                <div class="layui-col-md9 state-mes-box">
                                                    <p>结果：学习能力分析结果（主要针对讨论区数据和搜索数据）</p>
                                                    <p>结果描述：学习能力分析结果的描述学习能力分析结果的描述学习能力分析结果的描述学习能力分析结果的描述学习能力分析结果的描述</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="layui-col-md6">
                                    <div class="layui-card">
                                        <div class="layui-card-header">
                                            课程习题成绩
                                            <!--<div id="courses-box">
                                                <script type="text/html" id="courses">
                                                    <form class="layui-form pull-right" action="">
                                                        <div class="layui-form-item">
                                                            <select name="city" lay-verify="">
                                                                {{# layui.each(d.courses, function(index, item){ }}
                                                                <option value="{{ d.ids[index] }}">{{ item }}</option>
                                                                {{# }); }}
                                                            </select>
                                                        </div>
                                                    </form>
                                                </script>
                                            </div>-->
                                        </div>
                                        <div class="layui-card-body graph-box">
                                            <div class="layui-carousel layadmin-carousel layadmin-dataview small-graph" data-anim="fade" lay-filter="LAY-index-pagetwo" lay-anim="fade" id="getLeanerTestScore">
                                            </div>
                                            <div id="courses-box">
                                                <script type="text/html" id="courses">
                                                    <form class="layui-form pull-right" style="position: absolute; top: 10px; right: 10px;" action="">
                                                        <div class="layui-form-item">
                                                            <select name="city" lay-filter="course-select">
                                                                {{# layui.each(d.courses, function(index, item){ }}
                                                                    <option value="{{ d.ids[index] }}">{{ item }}</option>
                                                                {{# }); }}
                                                            </select>
                                                        </div>
                                                    </form>
                                                </script>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="layui-col-md6">
                                    <div class="layui-card">
                                        <div class="layui-card-header">
                                            学习能力分析
                                        </div>
                                        <div class="layui-card-body graph-box">
                                            <div class="layui-carousel layadmin-carousel layadmin-dataview small-graph" data-anim="fade" lay-filter="LAY-index-pagetwo" lay-anim="fade" id="analyseLearnerAbility">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="layui-col-md12">
                                    <div class="layui-card">
                                        <div class="layui-card-body">
                                            <div class="layui-row state-box">
                                                <div class="layui-col-sm2 state-title-box">
                                                    <p style="font-size: 17px;"><b>学习状态</b></p>
                                                </div>
                                                <div class="layui-col-md9 state-mes-box">
                                                    <p id="state-kind-box">
                                                        <script type="text/html" id="state-kind">
                                                            结果：
                                                            <span class="layui-badge layui-bg-orange">{{ d }}</span>
                                                        </script>
                                                    </p>
                                                    <p>相关描述：主要针对学习行为数据进行分析</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="layui-col-md6">
                                    <div class="layui-card">
                                        <div class="layui-card-header">
                                            视频观看情况
                                        </div>
                                        <div class="layui-card-body graph-box">
                                            <div class="layui-carousel layadmin-carousel layadmin-dataview small-graph" data-anim="fade" lay-filter="LAY-index-pagetwo" lay-anim="fade" id="getLearnerVideoData">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="layui-col-md6">
                                    <div class="layui-row layui-col-space15">
                                        <div class="layui-col-md6">
                                            <div class="layui-card">
                                                <div class="layui-card-header">
                                                    学习时长
                                                    <span class="layui-badge layui-bg-orange layuiadmin-badge pull-right">min</span>
                                                </div>
                                                <div class="layui-card-body tiny-card-height">
                                                    <div id="learn-length-box">
                                                        <!--学习时长-->
                                                        <script type="text/html" id="learn-length">
                                                            <p class="layuiadmin-big-font learn-attitude-count">{{ d }}</p>
                                                        </script>
                                                    </div>
                                                    <p>
                                                        学习者总学习时长
                                                        <span class="layuiadmin-span-color pull-right"> <i class="layui-icon layui-icon-log"></i></span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="layui-col-md6">
                                            <div class="layui-card">
                                                <div class="layui-card-header">
                                                    平台访问
                                                    <span class="layui-badge layui-bg-blue layuiadmin-badge pull-right">频</span>
                                                </div>
                                                <div class="layui-card-body tiny-card-height">
                                                    <div id="log-count-box">
                                                        <!--平台访问-->
                                                        <script type="text/html" id="log-count">
                                                            <p class="layuiadmin-big-font learn-attitude-count">{{ d }}</p>
                                                        </script>
                                                    </div>
                                                    <p>
                                                        学习者访问平台频率
                                                        <span class="layuiadmin-span-color pull-right"> <i class="layui-icon layui-icon-read"></i></span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="layui-row layui-col-space15">
                                        <div class="layui-col-md6">
                                            <div class="layui-card">
                                                <div class="layui-card-header">
                                                    测验次数
                                                    <span class="layui-badge layui-bg-green layuiadmin-badge pull-right">次</span>
                                                </div>
                                                <div class="layui-card-body tiny-card-height">
                                                    <div id="test-count-box">
                                                        <!--测验次数-->
                                                        <script type="text/html" id="test-count">
                                                            <p class="layuiadmin-big-font learn-attitude-count">{{ d }}</p>
                                                        </script>
                                                    </div>
                                                    <p>
                                                        学习者参与测验的次数
                                                        <span class="layuiadmin-span-color pull-right"> <i class="layui-icon layui-icon-download-circle"></i></span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="layui-col-md6">
                                            <div class="layui-card">
                                                <div class="layui-card-header">
                                                    发帖次数
                                                    <span class="layui-badge layui-bg-red layuiadmin-badge pull-right">次</span>
                                                </div>
                                                <div class="layui-card-body tiny-card-height">
                                                    <div id="post-count-box">
                                                        <!--发帖次数-->
                                                        <script type="text/html" id="post-count">
                                                            <p class="layuiadmin-big-font learn-attitude-count">{{ d }}</p>
                                                        </script>
                                                    </div>
                                                    <p>
                                                        提问及回复总次数
                                                        <span class="layuiadmin-span-color pull-right"> <i class="layui-icon layui-icon-survey"></i></span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="layui-col-md12">
                                    <div class="layui-card">
                                        <div class="layui-card-body">
                                            <div class="layui-row state-box">
                                                <div class="layui-col-sm2 state-title-box">
                                                    <p style="font-size: 17px;"><b>学习风格</b></p>
                                                </div>
                                                <div class="layui-col-md9 state-mes-box">
                                                    <p id="personality-box">
                                                    <script type="text/html" id="personality">
                                                        结果：
                                                        {{# layui.each(d, function(index, item){ }}
                                                            {{# if(item == "宜人型"){ }}
                                                                <span class="layui-badge layui-bg-blue">宜人型</span>
                                                            {{# } }}
                                                            {{# if(item == "严谨型"){ }}
                                                                <span class="layui-badge layui-bg-green">严谨型</span>
                                                            {{# } }}
                                                            {{# if(item == "外倾型"){ }}
                                                                <span class="layui-badge layui-bg-red">外倾型</span>
                                                            {{# } }}
                                                            {{# if(item == "神经质"){ }}
                                                                <span class="layui-badge layui-bg-black">神经质</span>
                                                            {{# } }}
                                                            {{# if(item == "经验开放型"){ }}
                                                                <span class="layui-badge layui-bg-orange">经验开放型</span>
                                                            {{# } }}
                                                        {{# }); }}
                                                    </script>
                                                    </p>
                                                    <p>相关描述：主要针对讨论区数据进行分析</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="layui-col-md6">
                                    <div class="layui-card">
                                        <div class="layui-card-header">
                                            标签描述
                                        </div>
                                        <div class="layui-card-body graph-box" style="height: 300px; overflow-y: scroll;">
                                            <table class="layui-table" lay-size="sm">
                                                <thead>
                                                    <tr>
                                                        <th style="width: 100px;">标签</th>
                                                        <th>描述</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td><span class="layui-badge layui-bg-blue">宜人型</span></td>
                                                        <td class="table-mes-align">主要判断是否友善。衡量一个人的信任和乐于助人的性质，以及一个人是否普遍脾气暴躁</td>
                                                    </tr>
                                                    <tr>
                                                        <td><span class="layui-badge layui-bg-green">严谨型</span></td>
                                                        <td class="table-mes-align">描述对事情的处理的细节。具有高度责任感特质的人倾向于有组织和可靠，表现出自律，尽职尽责</td>
                                                    </tr>
                                                    <tr>
                                                        <td><span class="layui-badge layui-bg-red">外倾型</span></td>
                                                        <td class="table-mes-align">主要是判断内向性和外向性。得分高的人性格开放，善于交流。得分低的人，相对比较冷漠、保守和害羞</td>
                                                    </tr>
                                                    <tr>
                                                        <td><span class="layui-badge layui-bg-black">神经质</span></td>
                                                        <td class="table-mes-align">主要是判断人情绪的稳定性。得分高的人容易产生不愉快情绪的倾向。得分低的人性格相对稳重，但可能缺乏上进心</td>
                                                    </tr>
                                                    <tr>
                                                        <td><span class="layui-badge layui-bg-orange">经验开放型</span></td>
                                                        <td class="table-mes-align">描述对新生事物的态度。开放性反映了学习者的好奇心，创造力以及对一个人的新奇和多样性的偏好</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                                <div class="layui-col-md6">
                                    <div class="layui-card">
                                        <div class="layui-card-header">
                                            学习风格分析
                                        </div>
                                        <div class="layui-card-body graph-box">
                                            <div class="layui-carousel layadmin-carousel layadmin-dataview small-graph" data-anim="fade" lay-filter="LAY-index-pagetwo" lay-anim="fade" id="getLearnerPersonality">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="layui-col-md12">
                                    <div class="layui-card">
                                        <div class="layui-card-body">
                                            <div class="layui-row state-box">
                                                <div class="layui-col-sm2 state-title-box">
                                                    <p style="font-size: 17px;"><b>学习习惯</b></p>
                                                </div>
                                                <div class="layui-col-md9 state-mes-box">
                                                    <p>结果：学习习惯分析结果</p>
                                                    <p>结果描述：学习能力分析结果的描述学习能力分析结果的描述学习能力分析结果的描述学习能力分析结果的描述学习能力分析结果的描述</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="layui-col-md6">
                                    <div class="layui-card">
                                        <div class="layui-card-header">
                                            活跃时间
                                        </div>
                                        <div class="layui-card-body graph-box">
                                            <div class="layui-carousel layadmin-carousel layadmin-dataview small-graph" data-anim="fade" lay-filter="LAY-index-pagetwo" lay-anim="fade" id="getLearnerActiveTime1">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="layui-col-md6">
                                    <div class="layui-row layui-col-space15">
                                        <div class="layui-col-md6">
                                            <div class="layui-card">
                                                <div class="layui-card-header">
                                                    活跃时段
                                                    <span class="layui-badge layui-bg-orange layuiadmin-badge pull-right">time</span>
                                                </div>
                                                <div class="layui-card-body tiny-card-height">
                                                    <div id="active-time-box">
                                                        <!--活跃时段-->
                                                        <script type="text/html" id="active-time">
                                                            <p class="learn-attitude-count" style="font-size: 25px;">{{ d }}</p>
                                                        </script>
                                                    </div>
                                                    <p>
                                                        学习者最活跃时段
                                                        <span class="layuiadmin-span-color pull-right"> <i class="layui-icon layui-icon-log"></i></span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="layui-col-md6">
                                            <div class="layui-card">
                                                <div class="layui-card-header">
                                                    活跃领域
                                                    <span class="layui-badge layui-bg-blue layuiadmin-badge pull-right">domain</span>
                                                </div>
                                                <div class="layui-card-body tiny-card-height">
                                                    <div id="active-domain-box">
                                                        <!--活跃领域-->
                                                        <script type="text/html" id="active-domain">
                                                            <p class="learn-attitude-count" style="font-size: 25px;">{{ d }}</p>
                                                        </script>
                                                    </div>
                                                    <p>
                                                        学习者最活跃领域
                                                        <span class="layuiadmin-span-color pull-right"> <i class="layui-icon layui-icon-read"></i></span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="layui-row layui-col-space15">
                                        <div class="layui-col-md6">
                                            <div class="layui-card">
                                                <div class="layui-card-header">
                                                    活跃地点
                                                    <span class="layui-badge layui-bg-green layuiadmin-badge pull-right">area</span>
                                                </div>
                                                <div class="layui-card-body tiny-card-height">
                                                    <div id="active-area-box">
                                                        <!--活跃地点-->
                                                        <script type="text/html" id="active-area">
                                                            <p class="learn-attitude-count" style="font-size: 25px;">{{ d }}</p>
                                                        </script>
                                                    </div>
                                                    <p>
                                                        学习者最活跃地点
                                                        <span class="layuiadmin-span-color pull-right"> <i class="layui-icon layui-icon-download-circle"></i></span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="layui-col-md6">
                                            <div class="layui-card">
                                                <div class="layui-card-header">
                                                    常用系统
                                                    <span class="layui-badge layui-bg-red layuiadmin-badge pull-right">system</span>
                                                </div>
                                                <div class="layui-card-body tiny-card-height">
                                                    <div id="active-system-box">
                                                        <!--常用系统-->
                                                        <script type="text/html" id="active-system">
                                                            <p class="learn-attitude-count" style="font-size: 25px;">{{ d }}</p>
                                                        </script>
                                                    </div>
                                                    <p>
                                                        学习者最常用系统
                                                        <span class="layuiadmin-span-color pull-right"> <i class="layui-icon layui-icon-survey"></i></span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="layui-tab-item">
                            <div class="layui-row layui-col-space15">
                                <div class="layui-col-md12">
                                    <div class="layui-card">
                                        <div class="layui-card-body">
                                            <div class="layui-row state-box">
                                                <div class="layui-col-sm2 state-title-box">
                                                    <p style="font-size: 17px;"><b>学习兴趣</b></p>
                                                </div>
                                                <div class="layui-col-md9 state-mes-box">
                                                    <p>结果：学习兴趣分析结果</p>
                                                    <p>结果描述：学习能力分析结果的描述学习能力分析结果的描述学习能力分析结果的描述学习能力分析结果的描述</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="layui-col-md4">
                                    <div class="layui-card">
                                        <div class="layui-card-header">
                                            感兴趣的领域
                                        </div>
                                        <div class="layui-card-body graph-box">
                                            <div class="layui-carousel layadmin-carousel layadmin-dataview mini-graph" data-anim="fade" lay-filter="LAY-index-pagetwo" lay-anim="fade" id="showInterestDomains">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="layui-col-md4">
                                    <div class="layui-card">
                                        <div class="layui-card-header">
                                            感兴趣的话题
                                        </div>
                                        <div class="layui-card-body graph-box">
                                            <div class="layui-carousel layadmin-carousel layadmin-dataview mini-graph" data-anim="fade" lay-filter="LAY-index-pagetwo" lay-anim="fade" id="showInterestTopics">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="layui-col-md4">
                                    <div class="layui-card">
                                        <div class="layui-card-header">
                                            感兴趣的课程
                                        </div>
                                        <div class="layui-card-body graph-box">
                                            <!--<div class="layui-carousel layadmin-carousel layadmin-dataview mini-graph" data-anim="fade" lay-filter="LAY-index-pagetwo" lay-anim="fade" id="showInterestCourses">
                                            </div>-->
                                            <div class="mini-graph" id="course-box" style="overflow-y: scroll;">
                                                <script id="course" type="text/html">
                                                    {{# layui.each(d, function(index, item){ }}
                                                        <p>{{ item.courseName }}</p>
                                                    {{# }); }}
                                                </script>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="layui-col-md12">
                                    <div class="layui-card">
                                        <div class="layui-card-body">
                                            <div class="layui-row state-box">
                                                <div class="layui-col-sm2 state-title-box">
                                                    <p style="font-size: 17px;"><b>学习意图</b></p>
                                                </div>
                                                <div class="layui-col-md9 state-mes-box">
                                                    <p>结果：学习意图分析结果</p>
                                                    <p>结果描述：学习能力分析结果的描述学习能力分析结果的描述学习能力分析结果的描述学习能力分析结果的描述学习能力分析结果的描述</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="layui-col-md6">
                                    <div class="layui-card">
                                        <div class="layui-card-header">
                                            学习意图分析
                                        </div>
                                        <div class="layui-card-body graph-box">
                                            <div class="layui-carousel layadmin-carousel layadmin-dataview small-graph" data-anim="fade" lay-filter="LAY-index-pagetwo" lay-anim="fade" id="getLearnerIntention1">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="layui-col-md6">
                                    <div class="layui-card">
                                        <div class="layui-card-header">
                                            学习意图分析
                                        </div>
                                        <div class="layui-card-body graph-box">
                                            <div class="layui-carousel layadmin-carousel layadmin-dataview small-graph" data-anim="fade" lay-filter="LAY-index-pagetwo" lay-anim="fade" id="getLearnerIntention2">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="layui-tab-item">
                            <div class="layui-row layui-col-space15">
                                <div class="layui-col-md12">
                                    <div class="layui-card">
                                        <div class="layui-card-body">
                                            <div class="layui-row state-box">
                                                <div class="layui-col-sm2 state-title-box">
                                                    <p style="font-size: 17px;"><b>知识背景</b></p>
                                                </div>
                                                <div class="layui-col-md9 state-mes-box">
                                                    <p>结果：知识背景分析结果</p>
                                                    <p>结果描述：学习能力分析结果的描述学习能力分析结果的描述学习能力分析结果的描述学习能力分析结果的描述学习能力分析结果的描述</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="layui-col-md12">
                                    <div class="layui-card">
                                        <div class="layui-card-header">
                                            知识结构
                                        </div>
                                        <div class="layui-card-body graph-box">
                                            <div class="layui-carousel layadmin-carousel layadmin-dataview" style="height: 500px; width: 1080px;" data-anim="fade" lay-filter="LAY-index-pagetwo" lay-anim="fade" id="getLearnerKnowledgeGraph">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--<div class="layui-col-md12">
                                    <div class="layui-card">
                                        <div class="layui-card-header">
                                            知识表格
                                        </div>
                                        <div class="layui-card-body graph-box">
                                            <div class="big-graph row" id="knowledge-table-box">
                                                <script id="knowledge-table" type="text/html">
                                                    {{# layui.each(d, function(index, item){ }}
                                                        {{# layui.use('rate', function(){ }}
                                                            {{# var rate = layui.rate  }}
                                                            <div class="layui-col-md2">
                                                                <div class="layui-card">
                                                                    <div class="layui-card-body" style="height: 50px">
                                                                        <div>
                                                                            <p><span class="layuiadmin-span-color">{{ item.knowledge_node }}</span></p>
                                                                            <p><span class="layuiadmin-span-color"><div class="rate">{{ item.score || '' }}</div></span></p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            {{# rate.render({elem: '.rate',value:3 ,half: true }) }}
                                                        {{# }); }}
                                                        {{# if(d.length === 0){ }}
                                                            无数据
                                                        {{# } }}
                                                    {{# }); }}
                                                </script>
                                            </div>
                                        </div>
                                    </div>
                                </div>-->
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

<!--<script type="text/javascript" src="../../assets/libs/layui/layui.js"></script>
<script type="text/javascript" src="../../assets/js/main.js"></script>-->
    <script type="text/javascript" src="../../assets/libs/echarts/echarts.min.js"></script>
    <script type="text/javascript" src="../../assets/libs/wordcloud/echarts-wordcloud.min.js"></script>
    <script type="text/javascript" src="../../assets/js/dataTool.min.js"></script>
    <script type="text/javascript" src="../../assets/js/learn-mes.js"></script>
    <script type="text/javascript" src="../../assets/js/learn-state.js"></script>
    <script type="text/javascript" src="../../assets/js/learn-interest.js"></script>
    <script type="text/javascript" src="../../assets/js/learn-knowledge.js"></script>
