<div class="layui-container">
    <div class="layui-card">
        <div class="layui-card-body">
            <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
                <ul class="layui-tab-title">
                    <li>知识背景</li>
                    <li class="layui-this">兴趣意图</li>
                    <li>学习风格</li>
                    <li>学习状态</li>
                </ul>

                <div class="layui-tab-content">
                    <div id="knowledge-tab-content" class="layui-tab-item">
                        <div class="layui-card">
                            <div class="layui-card-body">
                                <table class="layui-table" id="knowledge-table" lay-filter="knowledgeTable"></table>
                            </div>
                        </div>
                    </div>
                    <div class="layui-tab-item layui-show" id="topic-tab">
                        <div class="layui-card">
                            <div class="layui-card-header">感兴趣领域</div>
                            <div class="layui-card-body">
                                <table class="layui-table" id="domain-table" lay-filter="domainTable"></table>
                            </div>
                        </div>
                        <div class="layui-card">
                            <div class="layui-card-header">感兴趣课程</div>
                            <div class="layui-card-body">
                                <table class="layui-table" id="course-table" lay-filter="courseTable"></table>
                            </div>
                        </div>
                        <div class="layui-card">
                            <div class="layui-card-header">感兴趣话题</div>
                            <div class="layui-card-body">
                                <table class="layui-table" id="topic-table" lay-filter="topicTable"></table>
                            </div>
                        </div>
                    </div>
                    <div class="layui-tab-item">
                        内容3
                    </div>
                    <div class="layui-tab-item">内容4</div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    layui.use(['layer', 'form', 'table', 'util', 'admin', 'config'], function () {
        var $ = layui.jquery;
        var table = layui.table;
        var util = layui.util;
        var config = layui.config;
        //渲染感兴趣的领域表格
        var menuIns = table.render({
            elem: '#domain-table',
            url: config.base_server + 'interest/domain',
            where: {
                access_token: config.getToken()
            },
            page: false,
            //cellMinWidth: 60,
            cols: [[
                {type: 'numbers'},
                {field: 'domain', title: '领域名称'},
                {field: 'info', title: '详细信息'},
                {field: 'score', title: '感兴趣程度'}
            ]]
        });
        //渲染感兴趣的课程表格
        var menuIns = table.render({
            elem: '#course-table',
            url: config.base_server + 'interest/course',
            where: {
                access_token: config.getToken()
            },
            page: false,
           // cellMinWidth: 60,
            cols: [[
                {type: 'numbers'},
                {field: 'course', title: '课程名称'},
                {field: 'teacher', title: '主讲教师'},
                {field: 'domain', title: '领域'},
                {field: 'score', title: '感兴趣程度'},
                {
                    templet: function (d) {
                        return util.toDateString(d.startTime);
                    }, title: '开课时间'
                }
            ]]
        });
        //渲染感兴趣的话题表格
        var menuIns = table.render({
            elem: '#topic-table',
            url: config.base_server + 'interest/topic',
            where: {
                access_token: config.getToken()
            },
            page: false,
            //cellMinWidth: 60,
            cols: [[
                {type: 'numbers'},
                {field: 'topicName', title: '话题名称'},
                {field: 'domain', title: '领域'},
                {field: 'count', title: '感兴趣程度'}
            ]]
        });
        //渲染学习的知识点表格
        var menuIns = table.render({
            elem: '#knowledge-table',
            url: config.base_server + 'knowledge',
            where: {
                access_token: config.getToken()
            },
            page: false,
            //cellMinWidth: 60,
            cols: [[
                {type: 'numbers'},
                {field: 'knowledge_node', title: '知识点'},
                {field: 'parent_knowledge_node', title: '父知识点'},
                {field: 'score', title: '掌握程度'}
            ]]
        });

    });
</script>
