<div class="layui-container">
    <div class="layui-card">
        <div class="layui-card-body">
            <div class="layui-row">
                <div class="layui-card-header">感兴趣领域</div>
                <div class="layui-card-body">
                    <table class="layui-table" id="domain-table" lay-filter="userTable">
                        <colgroup>
                            <col width="150">
                            <col width="200">
                            <col>
                        </colgroup>
                        <thead>
                        <tr>
                            <th>领域名称</th>
                            <th>感兴趣程度</th>
                            <th>详细信息</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>计算机</td>
                            <td>50</td>
                            <td>计算机科学，研究计算机及其周围各种现象和规律的科学，亦即研究计算机系统结构、程序系统（即软件）、人工智能以及计算本身的性质和问题的学科</td>
                        </tr>
                        <tr>
                            <td>心理学</td>
                            <td>35</td>
                            <td>心理学包括基础心理学与应用心理学两大领域，其研究涉及知觉、认知、情绪、思维、人格、行为习惯、人际关系、社会关系等许多领域，也与日常生活的许多领域——家庭、教育、健康、社会等发生关联。</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="layui-row">
                <div class="layui-card-header">感兴趣课程</div>
                <div class="layui-card-body">
                    <table class="layui-table" id="course-table" lay-filter="userTable">
                        <colgroup>
                            <col width="150">
                            <col width="200">
                            <col>
                        </colgroup>
                        <thead>
                        <tr>
                            <th>课程名称</th>
                            <th>开课时间</th>
                            <th>主讲教师</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>计算机网络</td>
                            <td>2019-11-29</td>
                            <td>李全龙</td>
                        </tr>
                        <tr>
                            <td>数据结构</td>
                            <td>2019-11-21</td>
                            <td>黄虎杰</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="layui-row">
                <div class="layui-card-header">感兴趣话题</div>
                <div class="layui-card-body">
                    <table class="layui-table" id="topic-table" lay-filter="userTable">
                        <colgroup>
                            <col width="150">
                            <col width="200">
                            <col>
                        </colgroup>
                        <thead>
                        <tr>
                            <th>名称</th>
                            <th>感兴趣度</th>
                            <th>详细信息</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>红黑树</td>
                            <td>50</td>
                            <td>一种数据结构</td>
                        </tr>
                        <tr>
                            <td>路由</td>
                            <td>30</td>
                            <td>计算机网络</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>