<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学习风格分析</title>
</head>
<body>
<div class="layui-col-md3">
    <div class="layui-card">
        <div class="layui-card-header" style="font-size: 25px;">
            <a href="courseMessage?code_module="> </a>
        </div>
        <div class="layui-card-body">
            <div>
                <p>开课学期<span class="layuiadmin-span-color"></span></p>
                <p>选课人次<span class="layuiadmin-span-color"></span></p>
                <p>课程通过率<span class="layuiadmin-span-color"></span></p>
            </div>
        </div>
    </div>
</div>
</body>
</html>