<div style="padding: 20px; background-color: #F2F2F2;">

    <div class="layui-row layui-col-space20">
        <div class="layui-col-md9">
            <div class="layui-card">
                <div class="layui-card-header">统计信息</div>
                <div class="layui-card-body">
                    <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief" style="height: 700px">
                        <ul class="layui-tab-title">
                            <li class="layui-this">基本信息统计</li>
                            <li>用户画像统计</li>
                            <li>推荐情况统计</li>

                        </ul>
                        <div class="layui-tab-content" style="height: 100px;">
                            <div class="layui-tab-item layui-show">
                                <div class="layui-row layui-col-space10">

                                    <div class="layui-col-md4">
                                        <div class="layui-card layui-bg-gray">
                                            <div class="layui-card-header">性别</div>
                                            <div class="layui-card-body">
                                                <div id="gender_chart" style="width: 280px;height:180px;"></div>

                                            </div>
                                        </div>
                                        <br/>
                                        <div class="layui-card layui-bg-gray">
                                            <div class="layui-card-header">教育程度</div>
                                            <div class="layui-card-body">

                                                <div id="edu_chart" style="width: 280px;height:180px;"></div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="layui-col-md4">
                                        <div class="layui-card layui-bg-gray">

                                            <div class="layui-card-header">地区分布</div>
                                            <div class="layui-card-body">
                                                <div id="loca_chart" style="width: 280px;height:500px;"></div>

                                            </div>
                                        </div>


                                    </div>
                                    <div class="layui-col-md4">
                                        <div class="layui-card layui-bg-gray">
                                            <div class="layui-card-header">年龄结构</div>
                                            <div class="layui-card-body">
                                                <div id="age_chart" style="width: 280px;height:200px;"></div>

                                            </div>
                                        </div>
                                        <br/>
                                        <div class="layui-card layui-bg-gray">
                                            <div class="layui-card-header">领域</div>
                                            <div class="layui-card-body">
                                                <div id="field_chart" style="width: 280px;height:200px;"></div>

                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <div class="layui-tab-item">内容2</div>
                            <div class="layui-tab-item">内容3</div>
                            <div class="layui-tab-item">内容4</div>
                            <div class="layui-tab-item">内容5</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="layui-col-md3">
            <div class="layui-card">
                <div class="layui-card-header">典型学习者</div>
                <div class="layui-card-body" style="height: 700px">

                    <div class="layui-card layui-bg-gray">
                        <div class="layui-card-header">用户名:韩文弢</div>
                        <div class="layui-card-body " style="height: 70px">
                            <div class="layui-row layui-col-space10">
                                <div class="layui-col-md4">
                                    <img src="../../assets/images/head.png" class="layui-nav-img"
                                         style="height: 60px;width:60px">
                                </div>
                                <div class="layui-col-md8">
                                    <p>已选课程：系统工程,</p>
                                    <span class="layui-badge layui-bg-orange">活跃</span>
                                    <span class="layui-badge layui-bg-orange">积极</span>
                                    <span class="layui-badge layui-bg-green">消极</span>
                                    <p></p>
                                    <span class="layui-badge">无学情预警</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-card layui-bg-gray">
                        <div class="layui-card-header">用户名: 薛宇飞</div>
                        <div class="layui-card-body " style="height: 70px">
                            <div class="layui-row layui-col-space10">
                                <div class="layui-col-md4">
                                    <img src="../../assets/images/head.png" class="layui-nav-img"
                                         style="height: 60px;width:60px">
                                </div>
                                <div class="layui-col-md8">
                                    <p>已选课程：飞机飞行动力学,导航原理,</p>
                                    <span class="layui-badge layui-bg-orange">活跃</span>
                                    <span class="layui-badge layui-bg-orange">积极</span>
                                    <span class="layui-badge layui-bg-green">消极</span>
                                    <p></p>
                                    <span class="layui-badge">无学情预警</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-card layui-bg-gray">
                        <div class="layui-card-header">用户名: 孟来俊</div>
                        <div class="layui-card-body " style="height: 70px">
                            <div class="layui-row layui-col-space10">
                                <div class="layui-col-md4">
                                    <img src="../../assets/images/head.png" class="layui-nav-img"
                                         style="height: 60px;width:60px">
                                </div>
                                <div class="layui-col-md8">
                                    <p>已选课程：AWS公开课</p>
                                    <span class="layui-badge layui-bg-orange">活跃</span>
                                    <span class="layui-badge layui-bg-orange">积极</span>
                                    <span class="layui-badge layui-bg-green">消极</span>
                                    <p></p>
                                    <span class="layui-badge">无学情预警</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-card layui-bg-gray">
                        <div class="layui-card-header">用户名: 张蕾</div>
                        <div class="layui-card-body " style="height: 70px">
                            <div class="layui-row layui-col-space10">
                                <div class="layui-col-md4">
                                    <img src="../../assets/images/head.png" class="layui-nav-img"
                                         style="height: 60px;width:60px">
                                </div>
                                <div class="layui-col-md8">
                                    <p>已选课程：管理沟通,道德与利益</p>
                                    <span class="layui-badge layui-bg-orange">活跃</span>
                                    <span class="layui-badge layui-bg-orange">积极</span>
                                    <span class="layui-badge layui-bg-green">消极</span>
                                    <p></p>
                                    <span class="layui-badge">无学情预警</span>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>


            </div>
        </div>
    </div>

</div>

<script type="text/javascript">
    layui.use(['form', 'element', 'config', 'laytpl'], function () {
        var form = layui.form;
        var element = layui.element;

        var config = layui.config;
        var $ = layui.jquery;


        //性别饼状图
        // 基于准备好的dom，初始化echarts实例
        var myChart1 = echarts.init(document.getElementById('gender_chart'));


        //男女比例并饼状图
        // 指定图表的配置项和数据
        var option1 = {

            tooltip: {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            series: [
                {
                    name: '性别',
                    type: 'pie',
                    radius: '80%',
                    data: [
                        {value: 1, name: '男生'},
                        {value: 1, name: '女生'},
                        {value: 1, name: '未知'}
                    ]
                }
            ]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart1.setOption(option1);


        //教育程度柱状图
        // 基于准备好的dom，初始化echarts实例
        var myChart2 = echarts.init(document.getElementById('edu_chart'));

        // 指定图表的配置项和数据
        var option2 = {
            tooltip: {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            series: [
                {
                    name: '访问来源',
                    type: 'pie',
                    radius: '80%',
                    data: [
                        {value: 1, name: '中学'},
                        {value: 1, name: '本科'},
                        {value: 1, name: '专科'},
                        {value: 1, name: '硕士'}
                    ]
                }
            ]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart2.setOption(option2);


        //地区分布柱状图
        var myChart3 = echarts.init(document.getElementById('loca_chart'));
        var dataAxis = ['黑龙江', '吉林', '辽宁', '北京', '天津', '河北', '山东', '山西', '河南', '陕西', '江苏', '浙江', '湖北', '湖南', '重庆', '广州', '四川', '云南', '广西', '青海'];
        var data = [150, 182, 191, 234, 290, 330, 310, 123, 442, 321, 90, 149, 210, 122, 133, 334, 198, 123, 125, 220];
        var yMax = 500;
        var dataShadow = [];

        for (var i = 0; i < data.length; i++) {
            dataShadow.push(yMax);
        }

        option = {
            grid: {
                x: 5,
                y: 5,
                x2: 20,
                y2: 20
            },
            yAxis: {
                data: dataAxis,
                axisLabel: {
                    inside: true,
                    textStyle: {
                        color: '#fff'
                    }
                },
                axisTick: {
                    show: false
                },
                axisLine: {
                    show: false
                },
                z: 10
            },
            xAxis: {
                axisLine: {
                    show: false
                },
                axisTick: {
                    show: false
                },
                axisLabel: {
                    textStyle: {
                        color: '#999'
                    }
                }
            },
            dataZoom: [
                {
                    type: 'inside'
                }
            ],
            series: [
                { // For shadow
                    type: 'bar',
                    itemStyle: {
                        normal: {color: 'rgba(0,0,0,0.05)'}
                    },
                    barGap: '-100%',
                    barCategoryGap: '40%',
                    data: dataShadow,
                    animation: false
                },
                {
                    type: 'bar',
                    itemStyle: {
                        normal: {
                            color: new echarts.graphic.LinearGradient(
                                0, 0, 0, 1,
                                [
                                    {offset: 0, color: '#83bff6'},
                                    {offset: 0.5, color: '#188df0'},
                                    {offset: 1, color: '#188df0'}
                                ]
                            )
                        },
                        emphasis: {
                            color: new echarts.graphic.LinearGradient(
                                0, 0, 0, 1,
                                [
                                    {offset: 0, color: '#2378f7'},
                                    {offset: 0.7, color: '#2378f7'},
                                    {offset: 1, color: '#83bff6'}
                                ]
                            )
                        }
                    },
                    data: data
                }
            ]
        };

        // Enable data zoom when user click bar.
        var zoomSize = 6;
        myChart3.on('click', function (params) {
            console.log(dataAxis[Math.max(params.dataIndex - zoomSize / 2, 0)]);
            myChart3.dispatchAction({
                type: 'dataZoom',
                startValue: dataAxis[Math.max(params.dataIndex - zoomSize / 2, 0)],
                endValue: dataAxis[Math.min(params.dataIndex + zoomSize / 2, data.length - 1)]
            });
        });

        // 使用刚指定的配置项和数据显示图表。
        myChart3.setOption(option);


        //领域柱状图
        var myChart = echarts.init(document.getElementById('field_chart'));

        var dataAxis = ['哲学', '经济学', '法学', '史学', '理学', '工学', '农学', '医学', '管理学', '艺术学西', '军事学'];
        var data = [191, 234, 330, 310, 123, 321, 90, 210, 133, 334, 123,];


        var yMax = 500;
        var dataShadow = [];

        for (var i = 0; i < data.length; i++) {
            dataShadow.push(yMax);
        }

        option = {
            grid: {
                x: 5,
                y: 5,
                x2: 20,
                y2: 20
            },
            yAxis: {
                data: dataAxis,
                axisLabel: {
                    inside: true,
                    textStyle: {
                        color: '#fff'
                    }
                },
                axisTick: {
                    show: false
                },
                axisLine: {
                    show: false
                },
                z: 10
            },
            xAxis: {
                axisLine: {
                    show: false
                },
                axisTick: {
                    show: false
                },
                axisLabel: {
                    textStyle: {
                        color: '#999'
                    }
                }
            },
            dataZoom: [
                {
                    type: 'inside'
                }
            ],
            series: [
                { // For shadow
                    type: 'bar',
                    itemStyle: {
                        normal: {color: 'rgba(0,0,0,0.05)'}
                    },
                    barGap: '-100%',
                    barCategoryGap: '40%',
                    data: dataShadow,
                    animation: false
                },
                {
                    type: 'bar',
                    itemStyle: {
                        normal: {
                            color: new echarts.graphic.LinearGradient(
                                0, 0, 0, 1,
                                [
                                    {offset: 0, color: '#83bff6'},
                                    {offset: 0.5, color: '#188df0'},
                                    {offset: 1, color: '#188df0'}
                                ]
                            )
                        },
                        emphasis: {
                            color: new echarts.graphic.LinearGradient(
                                0, 0, 0, 1,
                                [
                                    {offset: 0, color: '#2378f7'},
                                    {offset: 0.7, color: '#2378f7'},
                                    {offset: 1, color: '#83bff6'}
                                ]
                            )
                        }
                    },
                    data: data
                }
            ]
        };

        // Enable data zoom when user click bar.
        var zoomSize = 6;
        myChart.on('click', function (params) {
            console.log(dataAxis[Math.max(params.dataIndex - zoomSize / 2, 0)]);
            myChart.dispatchAction({
                type: 'dataZoom',
                startValue: dataAxis[Math.max(params.dataIndex - zoomSize / 2, 0)],
                endValue: dataAxis[Math.min(params.dataIndex + zoomSize / 2, data.length - 1)]
            });
        });

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);


        //年龄折线图
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('age_chart'));

        option = {
            grid: {
                x: 5,
                y: 5,
                x2: 20,
                y2: 20
            },
            xAxis: {
                type: 'category',
                data: ['15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28']
            },
            yAxis: {
                type: 'value'
            },
            series: [{
                data: [500, 600, 800, 1000, 1500, 2000, 3000, 3200, 3222, 3500, 3400, 3400, 1500, 1000],
                type: 'line',
                color: '#0080FF'
            }]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);

        //查询不同性别的人数

        $.ajax({
            type: "get",
            async: true,
            url: config.base_server + 'stuMgt/getGender?access_token=' + config.getToken(),
            data: {},
            dataType: "json",
            success: function (data) {
                var count1 = data["男"];
                var count2 = data["女"];
                var count3 = data["其他"];
                myChart1.setOption({
                    series: [
                        {
                            name: '性别',
                            type: 'pie',
                            radius: '60%',
                            data: [
                                {value: count1, name: '男生'},
                                {value: count2, name: '女生'},
                                //{value: count3, name: '未知'}
                            ]
                        }
                    ]
                })
            },
            error: function () {
                alert("数据加载失败");
            }
        });

        $.ajax({
            type: "get",
            async: true,
            url: config.base_server + 'stuMgt/getEdu?access_token=' + config.getToken(),
            data: {},
            dataType: "json",
            success: function (data) {
                console.log(data)
                myChart2.setOption({
                    series: [
                        {
                            name: '访问来源',
                            type: 'pie',
                            radius: '60%',
                            data: [
                                {value: data['小学'], name: '小学'},
                                {value: data['初中'], name: '初中'},
                                {value: data['高中'], name: '高中'},
                                {value: data['本科'], name: '本科'},
                                {value: data['专科'], name: '专科'},
                                {value: data['硕士'], name: '硕士'},
                                {value: data['博士'], name: '博士'},
                                //{value: data['其他'], name: '其他'}
                            ]
                        }
                    ]
                })
            },
            error: function () {
                alert("数据加载失败");
            }
        });

        //2020 2 27

        $.ajax({
            type: "get",
            async: true,
            url: config.base_server + 'stuMgt/getPro?access_token=' + config.getToken(),
            data: {},
            dataType: "json",
            success: function (data) {
                var proArray=new Array();
                var proCount=new Array();

                for(var key in data){
                    proArray.push(key);
                    proCount.push(data[key]);
                }

                myChart3.setOption({

                    yAxis: {
                        data: proArray

                    },
                    series: [
                        { // For shadow
                            type: 'bar',
                            itemStyle: {
                                normal: {color: 'rgba(0,0,0,0.05)'}
                            },
                            barGap: '-100%',
                            barCategoryGap: '40%',
                            data: dataShadow,
                            animation: false
                        },
                        {
                            type: 'bar',
                            itemStyle: {
                                normal: {
                                    color: new echarts.graphic.LinearGradient(
                                        0, 0, 0, 1,
                                        [
                                            {offset: 0, color: '#83bff6'},
                                            {offset: 0.5, color: '#188df0'},
                                            {offset: 1, color: '#188df0'}
                                        ]
                                    )
                                },
                                emphasis: {
                                    color: new echarts.graphic.LinearGradient(
                                        0, 0, 0, 1,
                                        [
                                            {offset: 0, color: '#2378f7'},
                                            {offset: 0.7, color: '#2378f7'},
                                            {offset: 1, color: '#83bff6'}
                                        ]
                                    )
                                }
                            },
                            data: proCount
                        }
                    ]

                });
            },
            error: function () {
                alert("数据加载失败");
            }
        });


    });

</script>

