<style>
    .mes-pic-box{
        text-align: center;
    }
    .layadmin-takerates{
        padding: 10px 50px;
    }
    .mes-box{
        margin: 20px;
    }
    .mes-box img{
        width: 70%;
    }
    .count-box{
        text-align: center;
    }
    .btn-box{
        margin: 10px;
    }
    .res-box{
        padding: 10px 0;
        border-bottom: 1px dashed #f6f6f6;
    }
    .tags{
        margin: 10px 0 15px 0;
    }
    .details{
        color: #009688;
        cursor: pointer;
    }
    .self-mes p{
        margin: 10px 0;
    }
    .resource-mes-img-box{
        text-align: center;
        margin-top: 20px;
    }
    .resource-mes-img-box img{
        width: 30%;
    }
</style>
<div class="layui-container">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md9">
            <div class="layui-card" style="min-height: 500px;">
                <div class="layui-card-header">学习资源

                </div>
                <div class="layui-card-body">
                    <div class="layui-tab layui-tab-brief">
                        <ul class="layui-tab-title">
                            <li class="layui-this">已审核</li>
                            <li>待审核</li>
                            <li>未通过</li>
                        </ul>
                        <div class="layui-tab-content layadmin-takerates">
                            <div class="layui-tab-item layui-show" id="pass-resource-box">
                                <!-- 已通过资源，模板引擎，id="pass-resource" -->
                            </div>
                            <div class="layui-tab-item" id="topass-resource-box">
                                <!-- 待审核资源，模板引擎，id="pass-resource -->
                            </div>
                            <div class="layui-tab-item" id="fail-resource-box">
                                <!-- 未通过资源，模板引擎，id="pass-resource -->
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="layui-col-md3">

            <div class="layui-card">
                <div class="layui-card-header">我的资源信息</div>
                <div class="layui-card-body">
                    <div class="mes-pic-box">
                        <div class="mes-box">
                            <img src="../../assets/images/head.png" />
                        </div>
                        <div class="mes-box">
                            <h3><b><a href="#">用户名</a></b></h3>
                        </div>
                    </div>
                    <div class="layui-row mymes-mes-box">
                        <div class="layui-col-md4 count-box">
                            <h4><b>资源数量</b></h4>
                            <p>2</p>
                        </div>
                        <div class="layui-col-md4 count-box">
                            <h4><b>权限请求</b></h4>
                            <p>0</p>
                        </div>
                        <div class="layui-col-md4 count-box">
                            <h4><b>下载许可</b></h4>
                            <p>0</p>
                        </div>
                    </div>
                    <div>
                        <div class="btn-box">
                            <a class="layui-btn layui-btn-primary layui-btn-fluid" id="resource-auth-list-btn">下载许可列表</a>
                        </div>
                        <div class="btn-box">
                            <a class="layui-btn layui-btn-fluid" id="openUploadLayer">上传资源</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- 弹出层：上传资源 -->
<div id="uploadLayer" style="display: none; margin: 30px 50px 30px 10px;">
    <div class="layui-form" id="uploadFile">
        <div class="layui-form-item">
            <label class="layui-form-label">上传资源</label>
            <div class="layui-input-block">
                <button type="button" class="layui-btn" id="choose-file">
                    <i class="layui-icon">&#xe67c;</i>选择文件
                </button>
                <!--<input type="file" name="uploadfile" required lay-verify="required" placeholder="选择文件">-->
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">标签</label>
            <div class="layui-input-block">
                <input type="checkbox" name="tag" title="教程" value="教程" lay-skin="primary">
                <input type="checkbox" name="tag" title="软件" value="软件" lay-skin="primary">
                <input type="checkbox" name="tag" title="代码" value="代码" lay-skin="primary">
                <input type="checkbox" name="tag" title="笔记" value="笔记" lay-skin="primary">
                <input type="checkbox" name="tag" title="工学" value="工学" lay-skin="primary">
                <input type="checkbox" name="tag" title="农学" value="农学" lay-skin="primary">
                <input type="checkbox" name="tag" title="医学" value="医学" lay-skin="primary">
                <input type="checkbox" name="tag" title="人文社科" value="人文社科" lay-skin="primary">
                <input type="checkbox" name="tag" title="文史类" value="文史类" lay-skin="primary">
                <input type="checkbox" name="tag" title="基础学科" value="基础学科" lay-skin="primary">
                <input type="checkbox" name="tag" title="其他" value="其他" lay-skin="primary">
                <input type="hidden" name="tag">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">权限</label>
            <div class="layui-input-block">
                <input type="radio" name="auth" value="仅查看" title="仅查看">
                <input type="radio" name="auth" value="可下载" title="可下载" checked>
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">描述</label>
            <div class="layui-input-block">
                <textarea name="details" placeholder="请输入内容" class="layui-textarea" style="resize:none"></textarea>
            </div>
        </div>
        <!--<input type="text" style="display: none;" name="id_student" value="${id_student}">-->
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" id="upload">提交</button>
            </div>
        </div>
    </div>
</div>

<!-- 弹出层：下载许可列表 -->
<div id="resource-auth-list" style="display: none; margin: 30px 50px">
    <div style="margin-bottom: 20px;" id="resource-auth-list-content">

    </div>
</div>

<!-- 弹出层：资源详情 -->
<div id="resource-details" style="display: none; margin: 30px 50px">
    <div style="padding: 50px 100px;" id="resource-details-content">

    </div>
</div>

<!--资源列表，模板引擎-->
<script id="resource" type="text/html">
{{# if(d.length > 0){ }}
    {{# layui.each(d, function(index, item){ }}
        <div class="layui-row res-box" onmouseover="show(this);" onmouseout="hide(this);">
            <div class="layui-col-md2">
                <a href="#"><img src="../../assets/images/format-icon/{{ item.resource.type }}.svg" class="layui-card-icon" /></a>
            </div>
            <div class="layui-col-md10 layui-card-res-box">
                <h3><b><a style="cursor: pointer;" class="resource-name" name="{{ item.resource.resourceId }}" value="{{ item.resource.studentId }}">{{ item.resource.name }}</a></b></h3>
                <div>
                    {{# if(item.tags.length > 0){ }}
                        {{# layui.each(item.tags, function(key, cell){ }}
                            <span class="layui-badge-rim tags">{{ cell }}</span>
                        {{# }); }}
                    {{# }else{ }}
                        <span class="layui-badge-rim tags">无标签</span>
                    {{# } }}
                </div>
                <p class="layui-word-aux" style="display: inline-block;">
                    上传时间：{{ item.resource.time }}
                </p>
                <a class="details pull-right delete-resource" name="{{ item.resource.resourceId }}" style="display: none;">删除</a>
            </div>
        </div>
    {{# }); }}
{{# }else{ }}
    暂无资源
{{# } }}
</script>

<!--下载许可列表 -->
<script type="text/html" id="resource-auth-details">
    {{# if(d.length > 0){ }}
    <table class="layui-table">
        <thead>
        <tr>
            <th>资源名</th>
            <th>上传时间</th>
            <th>取得权限时间</th>
            <th>上传者</th>
        </tr>
        </thead>
        <tbody>
        {{# layui.each(d, function(index, item){ }}
        <tr>
            <td><a style="cursor: pointer;" name="{{ d.resourceId }}">{{ item.resourceName }}</a></td>
            <td>{{ item.uploadTime }}</td>
            <td>{{ item.getAuthTime }}</td>
            <td>{{ item.uploader }}</td>
        </tr>
        {{# }); }}
        </tbody>
    </table>
    {{# }else{ }}
    <p>暂无获取到下载许可的资源...</p>
    {{# } }}
</script>

<!--资源信息-->
<script id="resource-message" type="text/html">
    <div class="layui-row">
        <div class="layui-col-md4 resource-mes-img-box">
            <img src="../../assets/images/format-icon/{{ d.resource.type }}.svg" class="layui-card-icon" />
        </div>
        <div class="layui-col-md8 self-mes">
            <p style="font-size: 20px;"><b>{{ d.resource.name }}</b></p>
            {{# if(d.tags.length > 0){ }}
                {{# layui.each(d.tags, function(key, cell){ }}
                <span class="layui-badge-rim tags">{{ cell }}</span>
                {{# }); }}
            {{# }else{ }}
                <span class="layui-badge-rim tags">无标签</span>
            {{# } }}
            <p>上传时间：{{ d.resource.time }}</p>
            <p>上传者：{{ d.uploader }}</p>
            <p>资源描述：{{ d.resource.details }}</p>

            {{# if(d.auth === "可下载" || d.auth === "all"){ }}
                <button class="layui-btn" style="margin-top: 20px;">下载资源</button>
            {{# } }}
        </div>
    </div>
    <div style="margin-top: 30px;">
        {{# if(d.resource.state === "pass"){ }}
        <h3 style="margin: 10px 0;">下载许可列表：</h3>
        <div>
            {{# if(d.authStudentList.length > 0){ }}
            <table class="layui-table">
                <thead>
                <tr>
                    <th>用户昵称</th>
                    <th>时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody id="showStudentLst">
                {{# layui.each(d.authStudentList, function(index, item){ }}
                <tr>
                    <td>{{ item.authName }}</td>
                    <td>{{ item.authTime }}</td>
                    <td><a style="cursor: pointer;" class="delete-auth" name="{{ item.authId }}">撤销权限</a></td>
                </tr>
                {{# }); }}
                </tbody>
            </table>
            {{# }else{ }}
            <p style="margin: 20px;">该资源暂无下载许可列表...</p>
            {{# } }}
        </div>
        {{# } }}
    </div>
</script>

<script type="text/javascript">
    function show(dom){
        var node = dom.childNodes[3].childNodes[7];
        node.setAttribute("style", "display: block;");
    }

    function hide(dom){
        var node = dom.childNodes[3].childNodes[7];
        node.setAttribute("style", "display: none;");
    }

    layui.use(['config', 'layer', 'form', 'laytpl', 'upload'], function(){
        var $ = layui.jquery;
        var config = layui.config;
        var laytpl = layui.laytpl;
        var layer = layui.layer;
        var form = layui.form;
        var upload = layui.upload;

        // 获取用户已通过的资源
        $.ajax({
            type: "get",
            async: true,
            url: config.base_server + 'resource/getUserResource?access_token=' + config.getToken() + "&state=pass",
            data: {},
            dataType: "json",
            success: function (data) {
                var getPassResourceTpl = document.getElementById("resource").innerHTML;
                var passResourceView = document.getElementById("pass-resource-box");
                laytpl(getPassResourceTpl).render(data, function(html){
                    passResourceView.innerHTML = html;
                });
            },
            error: function(){
                alert("数据加载失败");
            }
        });

        // 获取用户待通过的资源
        $.ajax({
            type: "get",
            async: true,
            url: config.base_server + 'resource/getUserResource?access_token=' + config.getToken() + "&state=toPass",
            data: {},
            dataType: "json",
            success: function (data) {
                var getTopassResourceTpl = document.getElementById("resource").innerHTML;
                var topassResourceView = document.getElementById("topass-resource-box");
                laytpl(getTopassResourceTpl).render(data, function(html){
                    topassResourceView.innerHTML = html;
                });
            },
            error: function(){
                alert("数据加载失败");
            }
        });

        // 获取用户未通过的资源
        $.ajax({
            type: "get",
            async: true,
            url: config.base_server + 'resource/getUserResource?access_token=' + config.getToken() + "&state=fail",
            data: {},
            dataType: "json",
            success: function (data) {
                var getFailResourceTpl = document.getElementById("resource").innerHTML;
                var failResourceView = document.getElementById("fail-resource-box");
                laytpl(getFailResourceTpl).render(data, function(html){
                    failResourceView.innerHTML = html;
                });
            },
            error: function(){
                alert("数据加载失败");
            }
        });


        // 打开弹出层：上传资源
        $("#openUploadLayer").on("click", function(){
            form.render();
            layer.open({
                type: 1,
                title:"上传资源",
                shade: 0,
                area: ['1072px','50%'],
                content: $("#uploadLayer"),
                end: function(){
                    $("#uploadLayer").css("display", "none");
                }
            });
        });

        // 打开弹出层：查看下载许可列表
        $("#resource-auth-list-btn").on("click", function(){
            $.ajax({
                type: "get",
                async: true,
                url: config.base_server + 'resource/getAuthResource?access_token=' + config.getToken(),
                data: {},
                dataType: "json",
                success: function (data) {
                    var getResourceAuthTpl = document.getElementById("resource-auth-details").innerHTML;
                    var resourceAuthView = document.getElementById("resource-auth-list-content");
                    laytpl(getResourceAuthTpl).render(data, function(html){
                        resourceAuthView.innerHTML = html;
                    });
                },
                error: function(){
                    alert("数据加载失败");
                }
            });
            layer.open({
                type: 1,
                title:"下载许可列表",
                shade: 0,
                area: ['1072px','50%'],
                content: $("#resource-auth-list"),
                end: function(){
                    $("#resource-auth-list").css("display", "none");
                }
            });
        });

        // 上传文件
        upload.render({
            elem: "#choose-file",
            url: config.base_server + "resource/uploadResource",
            data: {
                access_token: config.getToken(),
                auth: function(){
                    return $("input[name='auth']:checked").val();
                },
                tag: function(){
                    var tag = "";
                    $("input[name='tag']:checked").each(function(){
                        tag += $(this).val() + ",";
                    });
                    return tag;
                },
                details: function(){
                    return $("textarea[name='details']").val();
                }
            },
            auto: false,
            bindAction: "#upload",
            accept: "file",
            done: function(res){
                console.log(res);
                if(res.msg === "success"){
                    layer.msg("上传成功");
                    // layer.close(layer.index - 1);  // 关闭弹出层
                    setTimeout(function(){// 1秒后跳转
                        window.location.reload();
                    },1000);
                }else if(res.msg === "empty"){
                    layer.msg("文件不存在");
                }else{
                    layer.msg("上传失败");
                }
                return false;
            }
        });

        // 资源详情弹出层
        $(document).on("click", ".resource-name", function(){
            var resourceId = $(this).attr("name");
            var uploaderId = $(this).attr("value");
            //console.log(resourceId);
            $.ajax({
                type: "get",
                async: true,
                url: config.base_server + 'resource/getResource?access_token=' + config.getToken() + "&resourceid=" + resourceId + "&uploaderid=" + uploaderId,
                data: {},
                dataType: "json",
                success: function (data) {
                    console.log(data);
                    var getResourceDetailsTpl = document.getElementById("resource-message").innerHTML;
                    var resourceDetailsView = document.getElementById("resource-details-content");
                    laytpl(getResourceDetailsTpl).render(data, function(html){
                        resourceDetailsView.innerHTML = html;
                        element.render();
                    });
                },
                error: function (){
                    alert("数据加载失败");
                }
            });

            layer.open({
                type: 1,
                title:"资源详情",
                shade: 0,
                area: ['1072px','70%'],
                content: $("#resource-details"),
                end: function(){
                    $("#resource-details").css("display", "none");
                }
            });
        });

        $("#pass-resource-box").on("click", ".delete-resource", function(){
            var resourceId = $(this).attr("name");
            $.ajax({
                type : "get",
                async : true,
                url : config.base_server + 'resource/deleteResource?access_token=' + config.getToken() + '&resourceId=' + resourceId,
                data: {},
                success: function(result){
                    if(result.msg === "success"){
                        layer.msg("删除成功");
                        setTimeout(function(){// 1秒后跳转
                            window.location.reload();
                        },1000);
                    }
                },
                error: function(errorMes){
                    layer.msg("删除失败");
                }
            });
        });

        $("#resource-details-content").on("click", ".delete-auth", function (){
            var authId = $(this).attr("name");
            $.ajax({
                type : "get",
                async : true,
                url : config.base_server + 'resource/deleteResourceAuth?access_token=' + config.getToken() + '&authId=' + authId,
                data: {},
                success: function(result){
                    if(result.msg === "success"){
                        layer.msg("撤销成功");
                        setTimeout(function(){// 1秒后跳转
                            window.location.reload();
                        },1000);
                    }
                },
                error: function(errorMes){
                    layer.msg("撤销失败");
                }
            });
        });
    });
</script>