<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hit.lpm.portrait.dao.StudentMapper">
    <select id="selectKeywordsByStuId" resultType="java.lang.String">
        select keywords from bs_search_log where student_id = #{stuId};
    </select>

    <select id="selectStudentProblemScore" resultType="java.lang.Double">
        select score from lpm_student_problem where student_id = #{stuId} and problem_id = #{problemId};
    </select>

    <select id="selectStudentCourses" resultType="java.lang.String">
        select distinct course_id from lpm_student_problem where student_id = #{stuId};
    </select>

</mapper>