<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hit.lpm.management.dao.InterestTopicMapper">

        <select id="selectTopicOfId" resultType="java.util.Map">
            SELECT * FROM interest_topic where student_id=#{stuId};
        </select>


</mapper>


